extends base

block content 
  form(method="POST")
    if emailErrorMessage 
      p #{emailErrorMessage}
    input(name="email" type="email" placeholder="Email" value=loggedInUser.email required)

    if idErrorMessage 
      p #{idErrorMessage}
    input(name="uid" type="text" placeholder="ID" value=loggedInUser.id required)

    input(name="name" type="text" placeholder="Name" value=loggedInUser.name required)
    input(name="location" type="text" placeholder="Location" value=loggedInUser.location)
    input(type="submit" value="Update Profile")